<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pushGateway" type="Piston.Push.Core.SettingsSection, Piston.Push.Core" />
  </configSections>
  <pushGateway mongoStoreConnString="mongodb://pushgw:push1234@localhost/?safe=true"
               mongoDatabase="pushgw"
               rabbitUri="amqp://pushgw:push1234@localhost:5672/"
               >
    <apns gatewayHost="gateway.sandbox.push.apple.com:2195"
          feedbackHost="feedback.sandbox.push.apple.com:2196"/>
    <mpns />
    <gcm />
  </pushGateway>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
